.item_details {
    padding: 50px 0;
}

.item_details .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_details .imgs_item {
    width: 40%;
}

.item_details .imgs_item .big_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.item_details .imgs_item .big_img img {
    max-height: 450px;
    width: auto;
}

.item_details .imgs_item .sm_img {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.item_details .imgs_item .sm_img .img_div_sm {
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_details .imgs_item .sm_img img {
    width: auto;
    max-height: 150px;
    object-fit: cover;

}

.item_details .details_item {
    width: 58%;
}

.item_details .details_item .name {
    margin-bottom: 30px;
    color: var(--main_color);

}

.item_details .details_item .stars {
    margin: 15px 0;
    display: flex;
    gap: 5px;
}

.item_details .details_item .stars svg {
    fill: #f8d941;
    font-size: 20px;
}

.item_details .details_item .price {
    font-size: 22px;
    margin: 20px 0;
}

.item_details .details_item h5 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
}

.item_details .details_item .desc {
    line-height: 1.5;
}

.item_details .details_item .stock {
    font-size: 20px;
    margin-top: 20px;
}

.item_details .details_item .btn {
    font-size: 16px;
    border-radius: 2px;
    padding: 12px 15px;
}

.item_details .details_item .btn svg {
    font-size: 20px;
}

.item_details .details_item .icons {
    display: flex;
    gap: 10px;
    transition: 0.3s;
    margin: 20px 0;
}

.item_details .details_item .icons span {
    width: 40px;
    height: 40px;
    background: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.item_details .details_item .icons span:hover {
    background: var(--main_color);
}


.item_details .details_item .icons svg:hover {
    fill: var(--white_color);
    transition: 0.3s;
}