.top_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.top_header .logo {
    width: 160px;
}

.top_header .search_box {
    width: 500px;
    display: flex;
    align-items: center;
    background: var(--bg_color);
    border-radius: 30px;
    border: 1px solid var(--main_color);
}

.top_header .search_box input {
    height: 45px;
    width: 440px;
    padding: 5px 15px 5px 20px;
    background: var(--bg_color);
    border-radius: 30px 0 0 30px;
}

.top_header .search_box button {
    height: 45px;
    width: 60px;
    background: var(--main_color);
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}

.top_header .search_box button svg {
    fill: var(--white_color);
}   


.top_header .header_icons {
    display: flex;
    gap: 30px;
}

.top_header .header_icons .icon {
    position: relative;
    cursor: pointer;
}

.top_header .header_icons .icon svg {
    font-size: 30px;
}

.top_header .header_icons .icon .count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--main_color);
    color: var(--white_color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    border-radius: 100%;
}